st.termname:     st-256color
st.shell:        /bin/mksh
st.font:         Tewi:pixelsize=11:antialias=true:autohint=true;siji:pixelsize=11:antialias=true:autohint=true
st.borderpx:     2
st.cursorshape:  2
st.cursorthickness:  2
st.bold_font:    0
st.xfps:         120
st.actionfps:    30
st.chscale:      1.0
st.cwscale:      1.0
st.blinktimeout: 800
st.bellvolume:   100

st.opacity:      255
st.background:   #090100
st.foreground:   #E8EAEC
st.color0:       #24211A
st.color1:       #E36E5D
st.color2:       #ABD37C
st.color3:       #F7B675
st.color4:       #7290E3
st.color5:       #D37975
st.color6:       #74CADB
st.color7:       #E8E5DC
st.color8:       #46443A
st.color9:       #C05948
st.color10:      #ABD37C
st.color11:      #E97C55
st.color12:      #7290E3
st.color13:      #B4617C
st.color14:      #74CADB
st.color15:      #E8E5DC
